<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
This is the proof of concept JSF page to control the GoPiGo3 robot car
@author Ken Fogel
@version 0.1
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.pageTitle}</title>
        <script>
            var reload = true;
            function socketListener(message, channel, event) {
                document.getElementById("distanceId").innerHTML = message;
            }
        </script>
    </h:head>

    <h:body>
        <f:ajax>
            <h:form id="gopigo" >
                <h:panelGrid columns="3" cellpadding="1" border="0" cellspacing="10">
                    <f:facet name = "header">
                        <h:outputText value = "#{msgs.pageHeader}" styleClass="outputText"/>
                    </f:facet>
                    <h:panelGroup />
                    <h:commandButton id="forwardButton" image="resources\images\arrow_up.png" action="#{gopigoBacking.goForward()}" />
                    <h:panelGroup />
                    <h:commandButton id="leftButton" image="resources\images\arrow_left.png" action="#{gopigoBacking.goLeft()}" />
                    <h:commandButton id="stopButton" image="resources\images\stop_blank.png" action="#{gopigoBacking.goStop()}" />
                    <h:commandButton id="rightButton" image="resources\images\arrow_right.png" action="#{gopigoBacking.goRight()}" />
                    <h:panelGroup />
                    <h:commandButton id="reverseButton" image="resources\images\arrow_down.png" action="#{gopigoBacking.goReverse()}" />
                    <h:panelGroup />
                </h:panelGrid>

                <h:panelGrid columns="2" cellpadding="1" border="0" cellspacing="10">
                    <h:commandButton id="eyeson" value="#{msgs.eyeson}" action="#{gopigoBacking.goTurnOnBothLED()}" styleClass="outputText"/>
                    <h:commandButton id="eyesoff" value="#{msgs.eyesoff}" action="#{gopigoBacking.goTurnOffBothLED()}" styleClass="outputText"/>
                    <h:commandButton id="sensorOn" value="#{msgs.sensoron}" action="#{gopigoBacking.startUltra()}" styleClass="outputText"/>
                    <h:commandButton id="sensorOff" value="#{msgs.sensoroff}" action="#{gopigoBacking.stopUltra()}" styleClass="outputText"/>
                    <h:commandButton id="servoOn" value="#{msgs.servoon}" action="#{gopigoBacking.startServo()}" styleClass="outputText"/>
                    <h:commandButton id="servoOff" value="#{msgs.servooff}" action="#{gopigoBacking.stopServo()}" styleClass="outputText"/>
                </h:panelGrid>


            </h:form>
        </f:ajax>

        <f:websocket channel="distance" onmessage="socketListener" />

        <hr/>
        <h:outputText id="distanceId" value = "0" styleClass="outputText" />
    </h:body>
</html>

